{% extends 'admin/main_nav.html.twig' %}

{% block title %}
    Datenbank: Artikel - {{ article.title }}
{% endblock title %}


{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.body }}</p>
    <hr>
    <a href="{{ path('admin_article_list') }}" >Go Back</a>
{% endblock %}



