
{# base.html ist übergeordnetes template #}
{% extends '/public/main_nav.html.twig' %}

{# Title wird je Seite überschrieben #}
{% block title %}
    Hello  {{ app.request.query.get('name') | default('CodeReviewVideos') }}!
{% endblock title %}

{# body definition ist  teil von base.html.twig, erbt sozusagen #}
{# body definition wird in ....#}
{% block body %}
        <div>
            <h1>Receive Values </h1>
            <p class="lead"> Receive Values from the Controller in Symfony 4
            </p>
        </div>     

        {# wenn kein somekey aus controller dann default #}
        <ul>            
            <li>
                {{ nameForTwig | default('NO value received - lets take  a lovely default value') }}
            </li>

            <li>
                {{ someotherkey | default('NO value received - lets take  a  another lovely default value') }}
            </li>


        </ul>
        {# alle eingehenden Werte auslesen#}
        {#
            {{ dump() }}
        #}
{% endblock %}