{% extends 'base.html.twig' %}



{% block body %}
    <h1>500 error</h1>
    <p>
        Internal Server Error. You can  <a href="{{ path('welcome') }}">return to the homepage</a>.
    </p>
{% endblock %}