{# base.html ist übergeordnetes template #}
{% extends 'base.html.twig' %}

{# den Titel austauschen #}
{% block title %}Welcome{% endblock title %}

{# body definition ist  teil von base.html.twig, erbt sozusagen #}
{# body definition wird in ....#}
{% block body %}
        <div>
            <h1>Welcome !</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum sapien mauris, venenatis
                facilisis neque tincidunt vel. Maecenas vel felis vel turpis scelerisque eleifend. Fusce nec purus egestas,
                efficitur nisi ac, ultrices nulla. Pellentesque eu mollis tortor, in mollis nisl. Maecenas rhoncus quam non
                lacinia mollis.</p>


        <ul>
            
            <li>{{ somekey | default('NO value received - lets take  a lovely default value') }}
            </li>

            <li>
            {{ someotherkey | default('NO value received - lets take  a  another lovely default value') }}
            </li>
        </ul>
                
        </div>        
{% endblock %}


